.projectsPageContainer {
    width: 90%;
    /* padding-top: 1rem; */
    margin: auto;
    text-align: center;
}

.projectContainer {
    /* border-bottom: 5px solid black; */
    margin: 10px 0 15px ;
    padding: 10px;
    background-color: #E0E0E0;
    box-shadow: 5px 10px rgba(167, 162, 162, 0.1);
    border-radius: 10px; 
}


.projectContainer>h3 {
    padding: 0;
    margin: 0;
}

.projectContainer>a {
    padding: 0;
    margin: 1.5rem
}

.projectContainer>a {
    display: block;
}

.projectsH1 {
        font-family: 'Roboto Slab 900', serif;
}

.projectsH2 {
    font-family: 'Roboto Slab 700', serif;
}

.projectsH3 {
    font-family: 'Roboto Slab 500', serif;
}

@media  (max-width: 480px) and (min-width: 320px) {
.projectsPageContainer {
/* background-color: pink; */
}

}

@media (max-width: 700px) and (min-width: 481px){
.projectsPageContainer {
/* background-color: lightblue; */
}
.projectContainer {
    width: 80%;
    /* display: inline; */
    margin: 1rem auto 1rem;
}

}
@media (max-width: 1000px) and (min-width: 701px){
.projectsPageContainer {
/* background-color: greenyellow; */
}
.projectContainer {
    display: inline-block;
    height: auto;
    width: 40%;
    /* float: left; */
    margin: 1rem 0.5rem 1rem;
}

}
@media (min-width: 1001px) {
.projectsPageContainer {
    padding-top: 2rem;
/* background-color: grey; */
}
.projectContainer {
    display: inline-block;
    height: auto;
    width: 30%;
    /* float: left; */
    margin: 1rem 0.5rem 1rem;
    
}

.projectsH1{
    margin-bottom: 3rem;
}

}