@import "../../assets/styles/variables";

.projectsPage {
  display: grid;

  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  grid-row-gap: 3vh;

  &__h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    // font-family: $font-display;
    // font-weight: 400;
    // font-size: 8rem;
    // line-height: 1.3;
    // letter-spacing: 3px;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;

    align-items: center;

    font-size: 4rem;

    margin: 4rem 0;

    &::before,
    &::after {
      content: "";
      height: 1px;
      width: 20rem;
      display: block;
      background-color: black;
      color: black;
    }
  }

  &__h2 {
    &__bigProj {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }

    &__smallProj {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
    }

    &__followed {
      grid-column: 1 / -1;
      grid-row: 6 / 7;
    }
  }

  &__myProjectsBigger {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
  &__myProjectsSmaller {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  &__projectFollowedCourses {
    grid-column: 1 / -1;
    grid-row: 7 / 8;
  }
}

// .projectsPageContainer {
//   width: 90%;
//   /* padding-top: 1rem; */
//   margin: auto;
//   text-align: center;
// }

.projectContainer {
  /* border-bottom: 5px solid black; */
  margin: 10px 0 15px;
  padding: 10px;
  background-color: #e0e0e0;
  box-shadow: 5px 10px rgba(167, 162, 162, 0.1);
  border-radius: 10px;
}

// .projectContainer > h3 {
//   padding: 0;
//   margin: 0;
// }

// .projectContainer > a {
//   padding: 0;
//   margin: 1.5rem;
// }

// .projectContainer > a {
//   display: block;
// }

// .projectsH1 {
//   font-family: "Roboto Slab 900", serif;
// }

// .projectsH2 {
//   font-family: "Roboto Slab 700", serif;
// }

// .projectsH3 {
//   font-family: "Roboto Slab 500", serif;
// }

// @media (max-width: 480px) and (min-width: 320px) {
//   .projectsPageContainer {
//     /* background-color: pink; */
//   }
// }

// @media (max-width: 700px) and (min-width: 481px) {
//   .projectsPageContainer {
//     /* background-color: lightblue; */
//   }
//   .projectContainer {
//     width: 80%;
//     /* display: inline; */
//     margin: 1rem auto 1rem;
//   }
// }
// @media (max-width: 1000px) and (min-width: 701px) {
//   .projectsPageContainer {
//     /* background-color: greenyellow; */
//   }
//   .projectContainer {
//     display: inline-block;
//     height: auto;
//     width: 40%;
//     /* float: left; */
//     margin: 1rem 0.5rem 1rem;
//   }
// }
// @media (min-width: 1001px) {
//   .projectsPageContainer {
//     padding-top: 2rem;
//     /* background-color: grey; */
//   }
//   .projectContainer {
//     display: inline-block;
//     height: auto;
//     width: 30%;
//     /* float: left; */
//     margin: 1rem 0.5rem 1rem;
//   }

//   .projectsH1 {
//     margin-bottom: 3rem;
//   }
// }
