.homePageContainer {
width: 80%;
margin: auto;
padding-top: 7rem;

}

.myButton {
	background-color:#e0e0e0;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:18px;
	padding:6px 24px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#999999;
}
.myButton:active {
	position:relative;
	top:1px;
}

       



@media  (max-width: 480px) and (min-width: 320px) {
.homePageContainer {
 /* background-color: blue; */
}
}

@media (max-width: 700px) and (min-width: 481px){
.homePageContainer {
    /* background-color: pink; */
    padding-top: 7rem;
}
}
@media (max-width: 1000px) and (min-width: 701px){
.homePageContainer {
    /* background-color: yellow; */
    /* width: 60%; */
    /* padding-top: 1rem; */
}}
@media (min-width: 1001px) {
.homePageContainer {
    width: 60%;
    padding-left: 5%;
    /* background-color: pink; */
    padding-top: 8rem;
}

}