.resumePageContainer {
    width: 90%;
    /* padding-top: 1rem; */
    margin: auto;
    text-align: center;
}

.projectContainer {
      border: 1px solid black;
}

.myButton {
	background-color:#e0e0e0;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:18px;
	padding:6px 24px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#999999;
}
.myButton:active {
	position:relative;
	top:1px;
}

@media  (max-width: 480px) and (min-width: 320px) {

}

@media (max-width: 700px) and (min-width: 481px){

}

@media (max-width: 1000px) and (min-width: 701px){
.resumePageContainer {
padding-top: 2rem;
}
}

@media (min-width: 1001px) {
.resumePageContainer {
padding-top: 2rem;
}
}
