@import "../../../../assets/styles/variables";

.navigationItem {
  display: inline-block;
  width: 18rem;

  text-align: center;

  a:link,
  a:visited {
    height: 20%;
    background-color: $light-blue;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    margin: 0 1rem;

    border-radius: 2%;
    border-bottom: 1px solid $dark-black;
  }

  a:hover,
  a:active,
  a.active {
    background-color: rgba($blue, 0.5);
    transform: scaleY(1);
    color: $dark-blue;
  }
}

@media (max-width: 800px) {
  .navigationItem {
    margin: 0.5rem;
  }
}
