.aboutPageContainer {
    width: 80%;
    /* padding-top: 1rem; */
    margin: auto;
    text-align: center;
}



.profileImg {
    width: 80%;
    text-align: center;
}

.aboutPElement {
    font-size: 18;
    font-weight: medium;
    line-height: 2;
}