.aboutPageContainer {
  width: 80%;
  /* padding-top: 1rem; */
  margin: auto;
  text-align: center;
}

.profileImg {
  width: 80%;
  text-align: center;
}

.aboutPElement {
  font-size: 18;
  font-weight: medium;
  line-height: 2;
}

.aboutTitle {
  font-family: "Roboto Slab 900", serif;
}

@media (max-width: 480px) and (min-width: 320px) {
  .aboutPageContainer {
    /* background-color: blue; */
  }
}

@media (max-width: 700px) and (min-width: 481px) {
  .aboutPageContainer {
    /* background-color: yellow; */
  }

  .profileImg {
    width: 60%;
    text-align: center;
  }
}
@media (max-width: 1000px) and (min-width: 701px) {
  .aboutPageContainer {
    /* background-color: greenyellow; */
  }
  .profileImg {
    width: 40%;
  }
}
@media (min-width: 1001px) {
  .profileImg {
    margin: 3rem 3rem 0 0;
    width: 30%;
    float: right;
  }
  .aboutPElement {
    width: 50%;
    margin-left: 7rem;
  }
  .aboutPageContainer {
    padding-top: 2rem;
  }
  .aboutTitle {
    margin-bottom: 3rem;
  }
}
