@import "../../assets/styles/variables";

.content {
  grid-column: main-start / main-end;
  grid-row: 2 / 4;

  background-color: $light-blue;
  // margin-top: 72px;
  /* background-color: pink; */
}

footer {
  background-color: $blue;
  background-color: $light-blue;
  grid-column: main-start / main-end;
  grid-row: 4 / 5;
}
