.aboutPageContainer {
    width: 90%;
    /* padding-top: 1rem; */
    margin: auto;
    text-align: center;
}

.logo {
    width: 50px;
}

.unorderedList {

    width: 100%;
    list-style-type: none; 
    padding: 0; 
    margin:auto;
    flex-flow: row wrap;
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
}

.unorderedList>li {
    flex-basis: 30%;
}

.mySkillsPElement {
    font-size: 18;
    font-weight: medium;
    line-height: 2;
}