// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

$dark-blue: #112d4e;
$blue: #3f72af;
$light-blue: #dbe2ef;
$light-grey: #f9f7f7;

$dark-black: #0a1931;
$intensive-blue: #185adb;
$gold: #ffc947;
$light-gold: #feddbe;

//SASS VARIABLE
$bp-largest: 75em; // 1200px
$bp-large: 68.65em; //1100px
$bp-large-s: 62.5em; //1000px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; //500px
